@import "carousel.css";
@import "timeline.css";
@import "MQ.css";

body {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
}

h1 {
    font-weight: bold;
}
.navbar{
    height: 78px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);


}
a{
    color: #000;
}
.navbar-nav ul{
    padding-left: 40px;
}
.navbar li {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-align: center;
}

a.navbar-brand{
    padding-left: 41px;
}

li.navbar-item{
    padding-right: 41px;
    padding-left: 41px;
}
.li.navbar-item.dropdown.show{

}
 #form-navbar {
     margin-top: auto;
    padding: 15px;
    padding-bottom: 10px;

}
#form-control-sign-in{
    height: 32px;
    padding-bottom: 10px;
    border-radius: 8px;
}
 #button-form-dropdown {
     margin-top: 10px;
     width: 212px;
     border-radius: 8px;
 }


/* Forms */

.formBox{
    margin-top: 90px;
    padding: 50px;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #000000;

}
textarea{
    height: 100px !important;
}


footer  {
    height: 130px;
    width: 100%;
    background-color: black;
    border: solid 1px #979797;
    color: white;
}
.card{
    border: none;

}

.card-profesores {
    border: 1px #979797 solid !important;
    padding-bottom: 20px;
    display: flex;
    box-shadow: #979797
}
ul{
    list-style-type: none;
}
.DetalledeProfesores{
    padding-top: 60px;
}
.Profesor-Title{
    font-weight: 800;
}
.active {
    border-bottom:3px solid black;



}
li.active > a {
    border-bottom:3px solid black;

}
.active li.active > a:hover {
    border-bottom: 3px solid grey;
}
.nan > .nav-tabs{
    text-decoration: none;
}

.Modal-title{
    padding-right: 40px;
}
.imagen-bg{
    position: relative;
    z-index: 1;
}
.container-fluid > .overlay-imagen-bg{
    position: absolute;
    min-height: 20%;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
}
.overlay-imagen-bg{
    height: 485px;
    width: 80%;
    position: absolute;
    left: 5%;
    top: 10%;
    bottom: 0;
    overflow-y: scroll;
    z-index: 9;
    background-color: black;
    opacity: 0.75;


}
.overlay-imagen-bg @media (max-width: 950px ) {
    height: 400px;
}

.title-overlay-imagen-bg{
    position: absolute;
    z-index: 10;
    display: flex;
    color: #ffffff;
    padding: 100px 60px;
}
.lineas_derechas{
    border-right: #000000  1px solid;
    max-height: 100%;

}
#detalles-torneos{
    padding-bottom: 50px;
}
.error1{
    font-size: 144px;
    padding-top: 20px;
    z-index: 11;

}
.text-404{
    padding-top: 60px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bolder;
    z-index: 11;
}
.ninja {
    padding-top: 50px;
    position: fixed;
    z-index: 10;
}

.grass{
    background-image: linear-gradient(-180deg, #76AD0C 0%, #497402 34%, #417505 82%);
    height: 35%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border-radius: 50%/100px 100px 0 0;
    
    
}

